
packages/com_rankings/media/sftp-config.json
packages/com_rankings/site/sftp-config.json
packages/mod_rankings_latest_events/sftp-config.json
packages/mod_rankings_slider/sftp-config.json
packages/mod_rankings_tabs/sftp-config.json
packages/mod_rankings_top_riders/sftp-config.json
packages/mod_rankings_top_teams/sftp-config.json
